@page "/"
@inject HttpClient Http



<h1>Hello, world!</h1>

Welcome to your my app. X00149064 - Mateus Cardoso



<h1>News Articles</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (this.found == false)
{
    <p><em>@this.errorMessage</em></p>
}
else
{
    
    <div class="card">
        <img src="@data.articles.ElementAt(1).urlToImage" alt="articleImage" style="width:100%"/>
        <div class="container">
            <h4><b>@data.articles.ElementAt(1).title</b></h4>
            <p>@data.articles.ElementAt(1).description</p>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < data.articles.Count; i++)
            {
                <tr>
                    <td>@data.articles.ElementAt(i).title</td>
                    <td>@data.articles.ElementAt(i).author</td>
                    <td>@data.articles.ElementAt(i).description</td>
                    <td>@data.articles.ElementAt(i).content</td>
                </tr>
            }
        </tbody>
    </table>



}

@code {

    private String subject = "ireland";
    private bool found;

    private Root data;
    private string errorMessage;

    private async Task getNewsAsync()
    {
        try
        {
            string uri = "https://newsapi.org/v2/everything?q=bitcoin&from=2020-10-29&sortBy=publishedAt&apiKey=882c6f02b8a944d999549162b5fd43d2";
            data = await Http.GetFromJsonAsync<Root>(uri);
            found = true;
            errorMessage = String.Empty;
        }

        catch (Exception e)
        {
            found = false;
            errorMessage = e.Message;
        }
    }

    //Lifecycle method
    protected override async Task OnInitializedAsync()
    {
        await getNewsAsync();
    }

    public class Source
    {
        public string id { get; set; }
        public string name { get; set; }
    }

    public class Article
    {
        public Source source { get; set; }
        public string author { get; set; }
        public string title { get; set; }
        public string description { get; set; }
        public string url { get; set; }
        public string urlToImage { get; set; }
        public DateTime publishedAt { get; set; }
        public string content { get; set; }
    }

    public class Root
    {
        public string status { get; set; }
        public int totalResults { get; set; }
        public List<Article> articles { get; set; }
    }






}


